<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>15 puzzles (Vue app)</title>
    <link rel="stylesheet" href="./src/style/style.css">
    <link rel="icon" type="image/x-icon" href="/src/images/icons8-game-32.png">
</head>
<body>
    <div id="app" class="wrap" v-cloak>
        <h1> Пятнашки 4x4 </h1>
        <p v-if="isWin" >Поздравляю!</p>
        <div class="control-panel flex">
            <div class="steps">шаги: {{steps}}</div>
            <div class="flex time-block">
                <img class="block-time_img" src="src/images/hourglass.png" alt="time">{{ getTime()}}
            </div>

            <button class="btn btn-restart" @click="restart()">
                <img src="./src/images/icons8-restart-50.png" alt="restart">
            </button>
            <button v-if="isPlay && !isWin" class="btn btn-pause" @click="pause()">
                <img src="./src/images/icons8-pause-50.png" alt="pause">
            </button>
            <button v-else class="btn btn-continue" @click="play()">
                <img src="./src/images/icons8-play-50.png" alt="continue">
            </button>
        </div>
        <div v-if="isPlay && !isWin" class="grid_block">
            <div :class="{
                'grid': true,
                'grid-three': size == 3,
                'grid-four': size == 4,
                'grid-five': size == 5,
            }" >
                <div :class="item > 0 ? 'item' : 'zero'" 
                v-for="(item, idx) in items" 
                @click="moveBlock(item, idx)"> 
                    {{item}} 
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./src/script/main.js"></script>
</body>
</html>