body {
  text-align: center;
  background-color: rgba(47, 23, 116, 0.384);
}
.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: rgb(122, 6, 25);
}
.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.grid {
  display: grid;
  padding: 15px;
}
.grid-three {
  grid-template: repeat(3, 80px) / repeat(3, 80px);
}
.grid-four {
  grid-template: repeat(4, 80px) / repeat(4, 80px);
}
.grid-five {
  grid-template: repeat(5, 80px) / repeat(5, 80px);
}
.grid_item {
  border: 1px solid purple;
  background-color: gray;
}
.zero{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 70px;
    height: 70px;
    background-color: rgba(46, 23, 116, 0);
    border: 2px solid rgba(47, 23, 116, 0);
    border-radius: 5px;
    color: rgba(47, 23, 116, 0);
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 70px;
  height: 70px;
  background-color: rgba(231, 176, 72, 0.842);
  border: 2px solid orange;
  border-radius: 5px;
}
.btn-size{
  margin: 5px;
  padding: 3px 17px;
  border-radius: 5px;
  background-color: rgba(83, 59, 155, 0.692);
}
.btn-size-active{
  background-color: rgba(48, 32, 94, 0.692);
  color: white;
  border: none;
}
.btn {
  margin: 5px;
  padding: 17px;
  border-radius: 5px;
}
.control-panel {
  margin: 0 auto;
  padding: 10px 30px;
  border: 2px solid rgba(83, 59, 155, 0.692);
  border-radius: 5px;
  background-color: rgba(83, 59, 155, 0.692);
}
.control-panel div {
  padding: 15px;
}
.block-time div {
  margin: 5px;
  padding: 7px;
  border: 1px solid black;
}
.block-time_img {
  height: 40px;
}
.btn-pause {
  background-color: rgba(255, 166, 0, 0.377);
}
.btn-pause:hover {
  background-color: rgba(255, 166, 0, 0.733);
  border: 2px solid rgba(255, 166, 0, 0.377);
}
.btn-restart {
  background-color: rgba(34, 133, 9, 0.397);
}
.btn-restart:hover {
  background-color: rgba(38, 153, 10, 0.795);
  border: 2px solid rgba(51, 255, 0, 0.377);
}

.height-170{
  height: 170px;
}
.bold{
    font-weight: 900;
}

[v-cloak]{
    display: none;
}